* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

body{
    background-color: #444343 ;
    margin: auto;
    width: 414px;
    height: 896px;
    
}

.bg {
    background-color: #ECD5B4;
}

/* -----------header------------- */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECD5B4;
    color:#ffff;
    letter-spacing: 2px;
    height: 20vh;
}

h1{
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 64px;
    font-style: normal;
    text-shadow: -2px 2px 3px #beae97 ;
}

/* -----------main------- */
main{
    border-radius: 20px 20px 0px 0px;
    background-color: #ffff;
}


.camera{
    padding: 25px;    
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}   

.camera p, .qr-code p, .doc-id p, .arquivo p  {
    text-decoration: underline;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 19px;
    padding-top: 1vh;
    color: #675A5A;
}

#nomeArquivo {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1D84FE;
}

.qr-code{
    padding: 25px;    
    display: flex;
    flex-direction: column;
}

.arquivo{
    padding: 25px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquivo-next{
    min-width: 170px;
}


.doc-id{
    padding: 25px;    
    display: flex;
    flex-direction: column;
}

h2{
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-transform: uppercase;
    color: #675A5A;
}

p{
    padding: 25px;
    font-size: 20px;
    text-align: center;
    color: #675A5A;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh 10vh;
    font-size: 30px;
    color: #ffff;
    background-color: #1D84FE;
    border: none;
    padding: 20px;
    border-radius: 40px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    
}

.how-it-works p{
    text-align: justify;
    padding: 0;
}

.work-div-1{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    margin-top: 2vh;
    padding-top: 6vh;
    justify-content: space-between;
    max-width: 80vw;
    height: 25vh;
    color: #675A5A;
}

.work-div-1 p{
    font-size: 28px;
}


.work-div-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.options-button{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 19px;
    color: #675A5A;
    padding: 25px;
}

.copyright {
    font-family: "Tenali Ramakrishna", sans-serif;
    padding: 3.5vh;
    padding-top: 7vh;
    font-weight: 200;
}

.work-div-2 button{
    font-size: 54px;
    height: 16vh;
    width: 24vh;
    border-radius: 100px;
}


/* response html  */

.background-response{
    background-color: #979797;
}

.header-response{
    background-color: #979797;
}

.traducao{
    margin: 16px;
}
.how-it-works-response{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;
    padding: 15px;
}

#translatedText{
    text-align: justify;
}

.moreOne{
    display: flex;
    justify-content: center;
}

.moreone{
    margin-top: 48px;
    color: #675A5A;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
}

.simounao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.simounao button{
    font-size: 16px;
    padding: 16px;
}

#goHomeButton{
    background: none;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    text-decoration: underline;
    color: #675A5A;
}

/* all responses */

.traducoes{
    padding-top: 25px;
    text-align: center;
    justify-content: center;
}

.doc-allresponse{
    font-size: 22px;
    text-align: justify;
    margin-top: 25px;
    font-weight: 500;
}

/* teste com preloader */

/* Estilo do Preloader */
#preloader {
    position: fixed;
    width: 414px;
    height: 896px;
    background-color: #ECD5B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Estilo do Texto com animação de fade-in */
#preloaderText {
    font-family: "Alice", serif;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 2px;
    font-style: normal;
    opacity: 0;
    color: #ffff;
    text-shadow: -2px 2px 3px #beae97 ;
    animation: 
        fadeIn 1s forwards, 
        moveUp;
    animation-duration: 5s;

}

.minformin{
    font-family: 'Alice', serif;
    font-size: 24px;
    opacity: 0;
    color: #ffff;
    animation: 
        fadeIn 1s forwards, 
        moveUp;
    animation-duration: 5.05s;

}

#fadeOut{
    animation: fadeOut 2s ease forwards;
}

/* @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

/* Animação de Fade-in */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/* Animação de mover para cima */
@keyframes moveUp {
    0% { transform: translateY(0vh); }
    10% { transform: translateY(0vh); }
    20% { transform: translateY(0vh); }
    30% { transform: translateY(0vh); }     
    50% { transform: translateY(-38.5vh); }
    100% { transform: translateY(-38.5vh); }

}

