* {
    margin: 0;
    padding: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Montserrat', sans-serif;  
}   

body{
    background-color: #444343 ;
    width: fit-content;
    height:fit-content;   
}

.bg {
    background-color: #ECD5B4;
}

/* -----------header------------- */
header{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECD5B4;
    color:#ffff;
    letter-spacing: 2px;
    height: 20vh;
}

h1{
    position: relative;
    z-index: 1;
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 64px;
    font-style: normal;
    text-shadow: -2px 2px 3px #beae97 ;
}

/* -----------main------- */
main{
    position: relative;
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffff;
}


.fade{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 35vh;
    margin-top: 15vh;
    background: rgb(136,113,81);
    background: linear-gradient(0deg, rgba(136,113,81,0.9024859943977591) 19%, rgba(236,213,180,0.7204131652661064) 63%, rgba(255,255,255,0) 89%);
}


.fade-gray{
    position: absolute; 
    z-index: 0;
    width: 100%;
    height: 35vh;
    margin-top: 15vh;
    background: rgb(98,98,98);
    background: linear-gradient(0deg, rgba(98,98,98,1) 19%, rgba(151,151,151,0.6727941176470589) 63%, rgba(255,255,255,0) 89%);
}

.camera{
    padding: 25px;    
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
}   

.line{
    border: 1px solid rgba(103, 90, 90, 0.2);
    margin-top: 4.5vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera p, .qr-code p, .doc-id p, .arquivo p  {
    text-decoration: underline;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 19px;
    padding-top: 1vh;
    color: #675A5A;
}

#nomeArquivo {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1D84FE;
}

.qr-code{
    padding: 25px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquivo{
    padding: 25px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquivo-next{
    min-width: 170px;
}


.doc-id{
    padding: 25px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-transform: uppercase;
    color: #675A5A;
}

p{
    padding: 25px;
    font-size: 20px;
    text-align: center;
    color: #675A5A;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh 10vh;
    font-size: 30px;
    color: #ffff;
    background-color: #1D84FE;
    border: none;
    padding: 20px;
    width: 40vw;
    border-radius: 40px;
    cursor: pointer;
}

a{
    text-decoration: none;
}


.how-it-works p{
    text-align: justify;
    padding: 0;
}

.work-div-1{
    
    display: flex;
    flex-direction: column;
    padding: 4vh;
    margin-top: 2vh;
    padding-top: 6vh;
    justify-content: space-between;
    max-width: 80vw;
    height: 25vh;
    color: #675A5A;
}

.work-div-1 p{
    font-size: 28px;
}


.work-div-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.options-button{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 19px;
    color: #675A5A;
    padding: 25px;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    padding: 3.5vh;
    padding-top: 7vh;
    font-size: 12px;
    font-weight: 200;
}


.work-div-2 button{
    font-size: 54px;
    height: 16vh;
    width: 24vh;
    border-radius: 100px;
}


/* response html  */

.background-response{
    background-color: #979797;
}

.header-response{
    background-color: #979797;
}

.header-response-text{
    text-shadow: -2px 2px 3px #675A5A;
}

.traducao{
    margin: 16px;
}

.how-it-works-response{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 15px;
}

#translatedText{
    text-align: justify;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options button{
    height: 6vh;
    width: 25vw;

}



.moreone{
    padding: 50px;
    color: #675A5A;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
}


.simounao button{
    font-size: 16px;
    padding: 16px;
}

#goHomeButton{
    background: none;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    text-decoration: underline;
    color: #675A5A;
}

/* all responses */

.traducoes{
    padding-top: 25px;
    text-align: center;
    justify-content: center;
}

.responseContainer{
    text-align: justify;
}

.doc-allresponse{
    font-size: 18px;
    text-align: justify;
    margin-top: 25px;
    font-weight: 500;
}

.allresponses-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}


/* teste com preloader */

/* Estilo do Preloader */
#preloader {
    position: fixed;
    /* width: 384px;
    height: 867px; */
    width: 100.8vw;
    height: 107vh;


    background-color: #ECD5B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Estilo do Texto com animação de fade-in */
#preloaderText {
    font-family: "Alice", serif;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 2px;
    font-style: normal;
    opacity: 0;
    color: #ffff;
    text-shadow: -2px 2px 3px #beae97 ;
    animation: 
        fadeIn 2s forwards, 
        moveUp;
    animation-duration: 6s;

}

.minformin{
    font-family: 'Alice', serif;
    font-size: 24px;
    opacity: 0;
    color: #ffff;
    animation: 
        fadeInOut 3s forwards, 
        moveUp; 
    animation-duration: 6.05s;

}


/* Animação de Fade-in */
@keyframes fadeIn {
    0% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 1; }
}

/* fadeinfadeout */
@keyframes fadeInOut {
    0% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}



/* Animação de mover para cima */
@keyframes moveUp {
    0% { transform: translateY(0vh); }
    10% { transform: translateY(0vh); }
    20% { transform: translateY(0vh); }
    30% { transform: translateY(0vh); }     
    50% { transform: translateY(-42vh); }
    100% { transform: translateY(-42vh); }

}


/* animaçao de puxar do inicio */
.how-it-works-wrapper {
    position: relative;
    z-index: 1;
    animation: pullIn 3.5s ease-in-out forwards; /* Animação no wrapper */
    animation-delay: 5s; /* Atraso da animação */
}

.how-it-works {
    position: relative;
    z-index: 2; /* Conteúdo principal à frente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffff;
}

.fade-how-it-works {
    position: absolute;
    z-index: 0; /* Gradiente atrás do conteúdo */
    width: 100%;
    height: 35vh;
    margin-top: 15vh;
    background: rgb(136,113,81);
    background: linear-gradient(0deg, rgba(136,113,81,0.9024859943977591) 19%, rgba(236,213,180,0.7204131652661064) 63%, rgba(255,255,255,0) 89%);
    animation: pullIn 4s ease-in-out forwards; /* Animação no wrapper */
    animation-delay: 5s; /* Atraso da animação */
}


@keyframes pullIn {
    0% {
      transform: translateY(600px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0px);
    }
  }

/* Loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
